[project]
	description = Bet Generator for English Premier League (based on Soccerstats.com data)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mike392
[access "refs/for/refs/*"]
	read = group user/mike392
	push = group user/mike392
	label-Code-Review = -2..+2 group user/mike392
	label-Verified = -1..+1 group user/mike392
	rebase = group user/mike392
	removeReviewer = group user/mike392
	submit = group user/mike392
[access "refs/heads/*"]
	read = group user/mike392
	create = group user/mike392
	push = +force group user/mike392
	pushMerge = group user/mike392
[access "refs/tags/*"]
	push = group user/mike392
	push = +force group user/mike392
